
<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
<div id="map"></div>

<div class="form">

  <%= form_for @message, :url => contact_path do |form| %>
    <fieldset class="formulaire">
	    <legend class="dropmeline">Drop me a line</legend>
	    <div class="row">
        <div class="large-6 columns">
          <%= form.label "Your Name" %>
          <%= form.text_field :name %>
        </div>
        <div class="large-6 columns">
          <%= form.label "Your Email" %>
          <%= form.text_field :email %>
        </div>
      </div>
	    <div class="row">
        <div class="large-12 columns">
          <%= form.label "Your Message" %>
          <%= form.text_area :body, :class => "contacttextarea" %>
        </div>
      </div>
      <div class="actions">
        <%= form.submit "Send", :style => "float:right;", :class => 'button sendbutton' %>
      </div>
    </fieldset>
  <% end %>

  <section class="social-icons small-centered columns">
  <%= link_to "http://github.com/oducroux", :target => "_blank" do %>
      <%= image_tag "social/github.png" %>
    <% end %>
    <%= link_to "http://twitter.com/oducroux", :target => "_blank" do %>
      <%= image_tag "social/twitter.png" %>
    <% end %>
  </section>
</div>
